@import 'tailwindcss';

:root {
  --red: rgb(207, 33, 66);
  --orange: rgb(230, 173, 77);
}

@theme inline {
  --red: var(--red);
  --orange: var(--orange);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
